*{
    margin: 0;
    padding: 0;
    
}
nav{
    color: white;
    background-color: black;
    padding: 15px;
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 75%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
.Search{
    width: 40%;
    margin-top: 25px;
    padding: 10px;
}
.Searchbar{
    text-align: center;
}
.Box{
    height: 220px;
    width: 220px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
}
h2,h3,h4{
    text-align:center
}
.About{
    margin-top: 50px;
}
.Products{
    text-align: center;
    margin-top: 5%;
}