.one{
    text-align: center;
}
.two{
    text-align: center;
}
.three{
    text-align: center;
}
.total{
    background-color: rgb(40, 34, 34);
    color: aliceblue;
}
.upcoming{
    text-align: center;
}
.content{
    text-align: center;
}