/* .one{
    text-align: center;
} */
.vijay{
    text-align: center;
}
.movies{
    text-align: center;
}
.youtubesong{
    text-align: center;
}
*{
    background-color: black;
    color: aliceblue;
}