/* h1{
    color: white;
    background-color: black;
}
.two{
    color: yellow;
}
#three{
    color: palevioletred;
    background-color: aqua;
} */
/* *{
    color: blue;
    background-color: aqua;
} */
